/* Font */
@font-face {
  font-family: "UbuntuLight";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/Ubuntu/ubuntu-light-webfont.eot?#iefix") format("eot"), url("../fonts/Ubuntu/ubuntu-light-webfont.woff2") format("woff2"), url("../fonts/Ubuntu/ubuntu-light-webfont.woff") format("woff"), url("../fonts/Ubuntu/ubuntu-light-webfont.ttf") format("truetype"), url("../fonts/Ubuntu/ubuntu-light-webfont.svg#UbuntuLight") format("svg"); }

@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Ubuntu/ubuntu-regular-webfont.eot?#iefix") format("eot"), url("../fonts/Ubuntu/ubuntu-regular-webfont.woff2") format("woff2"), url("../fonts/Ubuntu/ubuntu-regular-webfont.woff") format("woff"), url("../fonts/Ubuntu/ubuntu-regular-webfont.ttf") format("truetype"), url("../fonts/Ubuntu/ubuntu-regular-webfont.svg#Ubuntu") format("svg"); }

@font-face {
  font-family: "Ubuntu Medium";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Ubuntu/ubuntu-medium-webfont.eot?#iefix") format("eot"), url("../fonts/Ubuntu/ubuntu-medium-webfont.woff2") format("woff2"), url("../fonts/Ubuntu/ubuntu-medium-webfont.woff") format("woff"), url("../fonts/Ubuntu/ubuntu-medium-webfont.ttf") format("truetype"), url("../fonts/Ubuntu/ubuntu-medium-webfont.svg#Ubuntu_Medium") format("svg"); }

@font-face {
  font-family: "UbuntuBold";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Ubuntu/ubuntu-bold-webfont.eot?#iefix") format("eot"), url("../fonts/Ubuntu/ubuntu-bold-webfont.woff2") format("woff2"), url("../fonts/Ubuntu/ubuntu-bold-webfont.woff") format("woff"), url("../fonts/Ubuntu/ubuntu-bold-webfont.ttf") format("truetype"), url("../fonts/Ubuntu/ubuntu-bold-webfont.svg#UbuntuBold") format("svg"); }

.page {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 27px auto 0 auto;
    max-width: 1500px;
    width: 100%;
    height: 192px;
    padding:0 10px;
}
.logo {
    cursor: pointer;
    z-index: 100;
}
.navigation {
    display: flex;
}
.navigation__link {
    display: flex;
    align-items: center;
    margin-right: 10px;
}


.navigation__link-category {
    display: flex;
    -ms-align-items: flex-start;
    align-items: flex-start;
    margin-right: 20px;
    position: relative;
}

.navigation__sub-menu>li>a {
    text-decoration: none;
    cursor: pointer;
    color: #000000;
    font-size: 18px;
    font-weight: 400;
    line-height: 40px;
    padding: 0;
    z-index: 1;
    background: white;
}
.navigation__link-category:hover .navigation__sub-menu {
    display: block;
    z-index: 1;
    background: white;
}
.navigation__link-category:hover .navigation__nav-img {
    transform: rotate(90deg);
    z-index: 1;
    background: white;
    
}

.navigation__nav-img {
    cursor: pointer;
    margin-left: 5px;
    transition:all 0.5s ease;
}
.navigation__sub-menu {
    padding: 0 10px;
    list-style-type: none;
    display: none;
    position: absolute;
    top: 20px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
    
    
}

.navigation__nav-img:hover {
    transform: rotate(90deg);
    transition:all 0.5s ease;
}

.navigation__link-category>a {
    text-decoration: none;
    color: #000000;
    font-size: 20px;
    font-weight: 400;
    line-height: 40px;
    position: relative;
}
.navigation__link-category>a:focus {
    
    text-decoration: underline;

}


.navigation__input {
    display: flex;
    justify-content: space-between;
    -ms-align-items: center;
    align-items: center;
    width: 524px;
    align-items: center;
    border-bottom: 1px solid #000000;
}
.navigation__input>input{
    max-width: 440px;
    /*position: relative;*/
    /*left: -20px;*/
    color: #000000;
    font-size: 25px;
    font-weight: 400;
    line-height: 40px;
    width: 100%;
    border: none;
    outline: none;

}
.navigation__search-img {
    margin-right: 10px;
}

.navigation__list-img {
    
    cursor: pointer;
    /*position: absolute;
    right: 0;
    top: -5px;
    padding-bottom: 20px;*/
}
.navigation__side-list {
    display: none;
    flex-direction: column;
    position: absolute;
    list-style-type: none;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
    margin: 0;
    padding: 10px 10px;
    top: 30px;
    right: 0;
}
.navigation__side-list>li>a {
    cursor: pointer;
    text-decoration: none;
    color: #000000;
    font-size: 20px;
    font-weight: 400;
    line-height: 40px;
}
.navigation__list {
    position: relative;
    
}

.navigation__list:hover .navigation__side-list {
    display: flex;
}


.link-social {
    display: flex;
    align-items: flex-end;
}
.link-social__ref{
    margin-right: 20px;
    cursor: pointer;
}
.link-social__ref:hover {
    content: '';
    transform: scale(1.2);
}

.link-social__lang {
    padding: 0 16px 0 0;
    margin: 0;
}
.link-social__lang>span {
    cursor: pointer;
    color: #959191;
    font-size: 20px;
    font-weight: 400;
    line-height: 40px;
    text-transform: uppercase;
    list-style-type: none;
    
}
.link-social__sidebar {
    display: none;
}
.link-social__lang {
    position: relative;
}
.link-social__lang:hover .link-social__sidebar{
    cursor: pointer;
    margin: 0;
    padding: 0 4px;
    position: absolute;
    right: 10px;
    list-style-type: none;
    display: block;
    border: 1px solid #AFAFAF;
    color: #959191;
    font-size: 20px;
    font-weight: 400;
    line-height: 40px;
    text-transform: uppercase;
    list-style-type: none;
}


@media(max-width: 1460px) {
    .navigation__link-category>a {
        font-size: 18px;
    }
}

@media (max-width: 1420px){
    .logo {
        max-width: 160px;
    }
}

@media (max-width: 1390px){
    .page {
        height: auto;
    }
    .logo {
        max-width: 100px;
    }
}

@media (max-width: 1340px){
    .page {
        justify-content: center;
        position: relative;
    }
    .logo {
        margin-right: auto;
    }
    .navigation__link {
        position: absolute;
        top: -100%;
        left: 0;
        display: none;
        -webkit-transition: top .3s;
        -o-transition: top .3s;
        transition: top .3s;
    }
    .navigation__link_active {
        background-color: #fff;
        z-index: 99;
        width: 100%;
        height: 100vh;
        top: 0;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        flex-direction: column;
    }
    .burger {
        z-index: 100;
        margin-left: auto;
        margin-right: 20px;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        flex-direction: column;
        justify-content: space-between;
        width: 40px;
        height: 21px;
        -webkit-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
    }
    .burger span {
        display: block;
        width: 100%;
        height: 3px;
        background-color: #000;
        -webkit-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
    }
    .burger_active {
        -ms-align-self: flex-start;
        align-self: flex-start;
    }
    .burger_active span:nth-child(1) {
        -webkit-transform: translateY(9px) rotate(45deg);
        -ms-transform: translateY(9px) rotate(45deg);
        -o-transform: translateY(9px) rotate(45deg);
        transform: translateY(9px) rotate(45deg);
    }
    .burger_active span:nth-child(2) {
        opacity: 0;
        visibility: hidden;
    }
    .burger_active span:nth-child(3) {
        -webkit-transform: translateY(-9px) rotate(-45deg);
        -ms-transform: translateY(-9px) rotate(-45deg);
        -o-transform: translateY(-9px) rotate(-45deg);
        transform: translateY(-9px) rotate(-45deg);
    }
    .navigation__search-img {
        margin-top: 15px;
    }
    .navigation__sub-menu {
        margin: 0px auto;
        position: static;
    }
    .navigation__nav-img {
        margin-top: 15px;
    }
    .navigation__link-category {
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        flex-direction: column;
    }
}

@media (max-width: 992px){
    .navigation__link-category:hover .navigation__nav-img {
        transform: rotate(0deg);
    }
}

@media (max-width: 650px){
    .navigation__input {
        width: 60%;
        margin: 0px auto;
    }
}

@media (max-width: 475px){
    .navigation__input {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: center;
        -ms-align-items: center;
        align-items: center;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        flex-direction: column;
        border: none;
        -webkit-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
    }
    .navigation__input input {
        opacity: 0;
        visibility: hidden;
        height: 0;
        border-bottom: 1px solid #000;
        -webkit-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
    }
    .navigation__input_active input {
        opacity: 1;
        visibility: visible;
        height: 100%;
    }
    .navigation__list {
        margin-top: 20px;
    }
}

@media (max-width: 400px){
    .logo {
        max-width: 75px;
    }
    .link-social__ref {
        margin-right: 10px;
    }
}


*,
::after,
::before {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -ms-overflow-style: scrollbar; }

body {
  font-family: "Ubuntu", "sans-serif";
  background-color: #fcfcfc;
  -webkit-font-smoothing: antialiased;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: #212121; }

.svg-icon {
  display: inline-block;
  vertical-align: middle;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor; }

a,
button {
  color: #212121;
  transition: color 0.4s, background-color 0.4s, border-color 0.4s, box-shadow 0.4s; }

p {
  margin-top: 0; }

a {
  text-decoration: none; }

img {
  max-width: 100%;
  vertical-align: middle; }

button {
  background-color: transparent;
  border: none; }

.btn {
  color: #fff;
  border-radius: 20px;
  background-color: #fd6924;
  padding: 1rem 2rem; }
  a {
    display: inline-block; }

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

@media (min-width: 992px) {
  .container {
    max-width: 960px; } }

@media (min-width: 1200px) {
  .container {
    max-width: 1140px; } }

/* Page footer */
.page-footer {
  background-color: #212121; }
  .page-footer__inner {
    padding-top: 2rem;
    padding-bottom: 20rem;
    color: #00bcf1;
    display: flex;
    justify-content: space-between; }
  .page-footer__holder {
    width: 50%; }
    .page-footer__holder:nth-child(2) {
      display: flex;
      justify-content: space-between; }
  .page-footer__section {
    width: 30%; }
  .page-footer__list {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    list-style: none; }
  .page-footer__item ~ .page-footer__item {
    margin-top: 1rem; }
  .page-footer__text {
    color: #00bcf1; }
  .page-footer__icon {
    margin-right: 0.5rem; }

.form {
  width: 100%; }
  .form__group {
    width: 100%; }

.input {
  width: 100%; }
  .input__field {
    width: 100%;
    border: none;
    height: 2rem;
    background-color: transparent; }
    .input__field:focus {
      outline: none; }

.glide__slides {
  display: flex; }

/* Page header */
.page-header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.875rem; }

.page-header__holder {
  display: flex;
  align-items: center; }
  .page-header__holder--first {
    margin-left: 0.5rem; }
  .page-header__holder--search {
    min-width: 300px; }
    .page-header__holder--search input {
      border-bottom: 1px black solid;
      position: relative; }
      .page-header__holder--search input::before, .page-header__holder--search input::after {
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 15px;
        height: 15px;
        background-size: cover;
        background-position: center; }
      .page-header__holder--search input::before {
        left: 0;
        background-image: url("../img/icons/raster/search.png"); }
      .page-header__holder--search input::after {
        right: 0;
        background-image: url("../img/icons/raster/list.png"); }

.page-header__button {
  position: relative;
  margin-left: 0.5rem; }
  .page-header__button-text {
    font-weight: bold;
    margin-right: 1rem; }
  .page-header__button-icon {
    width: 25px;
    height: 25px; }
    .page-header__button-icon--small {
      width: 15px;
      height: 15px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 5px; }

.page-header__menu {
  margin-left: 1rem; }

.page-header-menu__list {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
  margin-right: -15px;
  margin-left: -15px;
  display: flex;
  align-items: center;
  justify-content: space-between; }

.page-header-menu__item {
  padding-right: 15px;
  padding-left: 15px; }

.item-list__list {
  margin-right: -15px;
  margin-left: -15px;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  align-items: center; }

.item-list__item {
  width: calc(100% / 6);
  padding-right: 15px;
  padding-left: 15px; }

.item-list-item__inner {
  display: flex;
  flex-direction: column;
  align-items: center; }

.item-list-item__img-wrap {
  background-color: #00bcf1;
  border-radius: 50%;
  overflow: hidden;
  width: 150px;
  height: 150px; }

.item-list-item__text {
  display: block;
  text-align: center;
  margin-top: 1rem;
  text-transform: uppercase;
  font-size: 1.125rem;
  font-weight: 300; }

.logo__img {
  width: 100px;
  height: 100px; }

.news__list {
  margin-right: -15px;
  margin-left: -15px;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center; }

.news__item {
  width: 25%;
  padding-right: 15px;
  padding-left: 15px; }
  .news__item:nth-child(n+5) {
    margin-top: 2rem; }

.news-item__top {
  position: relative;
  overflow: hidden; }
  .news-item__top:hover .news-item__hover {
    transform: translateY(0); }

.news-item__hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 250px;
  height: 250px;
  display: flex;
  transition: 0.4s transform;
  transform: translateY(100%);
  align-items: center;
  justify-content: center;
  background-color: rgba(33, 33, 33, 0.5); }

.news-item__img-wrap {
  width: 250px;
  height: 250px;
  background-color: #00bcf1; }

.news-item__title, .news-item__date {
  display: block;
  font-weight: bold;
  font-size: 1.125rem; }

.news-item__date {
  margin-bottom: 1rem;
  font-size: 1rem; }

.news-item__subtitle {
  display: block;
  font-size: 1.125rem;
  font-weight: bold;
  color: gray; }

.product {
  padding-right: 15px;
  padding-left: 15px; }
  .product__title {
    display: block;
    white-space: pre-wrap; }
  .product__img-wrap {
    background-color: #00bcf1;
    width: 250px;
    height: 250px; }
  .product__price {
    width: 100%;
    display: block;
    font-size: 1.875rem;
    display: block;
    margin-top: 2rem;
    margin-bottom: 3rem;
    color: #fd6924; }
  .product__rating {
    display: inline-block; }
  .product__bottom {
    flex-wrap: wrap;
    display: flex; }
    .product__bottom form {
      margin-left: auto;
      margin-right: 0; }

.rating__icon {
  width: 20px;
  height: 20px; }

.rating__text {
  display: inline-block;
  margin-left: 1rem;
  color: gray; }

.static-content p {
  line-height: 1.5; }

.title {
  display: flex;
  align-items: center; }
  .title__separator {
    padding-left: 1rem;
    padding-right: 1rem;
    background-image: url("img/icons/raster/separator.png"); }

.Bg\(1\) {
  background-image: url("../img/about-us-bg.jpg");
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat; }

.Bg\(p\) {
  background-color: #00bcf1; }

.Bg\(cp\) {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #00bcf1;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 15% 100%);
  padding: 30px;
  height: 100%;
  width: 60%; }

.C\(fff\) {
  color: #fff; }

.D\(f\) {
  display: flex; }

.Fsz\(36px\) {
  font-size: 2.25rem; }

.Jc\(c\) {
  justify-content: center; }

.Jc\(sb\) {
  justify-content: space-between; }

.Mt\(2rem\) {
  margin-top: 2rem; }

.Pb\(5rem\) {
  padding-bottom: 5rem; }

.Pb\(8rem\) {
  padding-bottom: 8rem; }

.Pt\(4rem\) {
  padding-top: 4rem; }

.Pt\(10rem\) {
  padding-top: 10rem; }

.Pos\(a\) {
  position: absolute;
  top: 0;
  left: 0; }

.Pos\(r\) {
  position: relative; }

.Ta\(c\) {
  text-align: center; }

.Tt\(u\) {
  text-transform: uppercase; }

@media (min-width: 992px) {
  .W\(40\%\)--lg {
    width: 40%; } }

@media (min-width: 992px) {
  .W\(50\%\)--lg {
    width: 50%; } }

/*# sourceMappingURL=main.css.map */
